/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    position: relative;
    background: rgb(0,149,135);
    background: linear-gradient(180deg, rgba(0,149,135,1) 0%, rgba(0,149,136,1) 15%, rgba(220,219,209,1) 15%, rgba(199,221,223,1) 100%);
    height: 100vh;
}

.container {
    width: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Test */
    background-color: coral;
    height: 90%;
}

.inner-container {
    display: flex;
    height: 100%;
    /* Test */
    align-items: stretch;
}

.left-bar {
    flex: 30%;
    /* Test */
    background-color: cornflowerblue;
}

.header-sider {
    height: 60px;
    /* Test */
    background-color: crimson;
}

.right-bar {
    flex: 70%;
    /* Test */
    background-color: burlywood;
}