<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolzApp Web</title>

    <!-- FONT & FONTAWESOME -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- VUEJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <div id="root">
        <div class="wrapper">
            <div class="container">
                <div class="inner-container flex">
                    <!-- SIDE -->
                    <div class="left-bar">
                        <div class="sider">
                            <!-- Header side avatar user -->
                            <div class="header-col flex">

                                <div class="header-col-avatar">
                                    <div class="user-avatar">
                                        <img src="img/avatar_8.jpg" alt="avatar_user">
                                    </div>
                                </div>

                                <div class="header-col-name">
                                    <div class="user-text-name">Andrea Esposito</div>
                                </div>

                                <div class="header-col-icons">
                                    <div class="inner-icons flex">
                                        <div class="icons">
                                            <i class="fas fa-circle-notch"></i>
                                        </div>
                                        <div class="icons">
                                           <i class="fas fa-comment-alt"></i>
                                        </div>
                                        <div class="icons">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Header side avatar user -->

                            <!-- Bell Notifications -->
                            <div class="bell-notifications flex">
                                <div class="notification flex">

                                    <div class="bell">
                                        <i class="far fa-bell-slash"></i>
                                    </div>

                                    <div class="notification-message">
                                        <div>Ricevi notifiche di nuovi messaggi</div>
                                        <div><a href="#">Attiva notifiche desktop</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Bell Notifications -->

                            <!-- Search Chat -->
                            <div class="search-chat">
                                <div class="inner-search-chat flex">
                                    <button><i class="fas fa-search"></i></button>
                                    <input type="text" v-model="userSearch" @keyup="filterSearch" name="search" placeholder="Cerca o inizia una nuova chat">
                                </div>
                            </div>
                            <!-- End Search Chat -->

                            <!-- Chat Container -->
                            <div class="chat-container">
                                <div class="inner-chat">
                                    <ul class="chat-list">
                                        <li v-for="(contact, index) in contacts" @click="chatActive(index)" v-if="contact.visible">
                                            <div class="avatar-contact">
                                                <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name">
                                                <span class="text-body">{{ contact.name }}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Chat Container -->
                        </div>
                    </div>
                    <!-- END SIDE -->
                    
                    <!-- MAIN -->
                    <div class="right-bar">
                        <div class="app">
                            <!-- App Header contact -->
                            <header class="header-col flex">
                                <div class="header-col-avatar">
                                    <div class="user-avatar">
                                        <img :src="`img/avatar${contacts[active].avatar}.jpg`" alt="avatar_user">
                                    </div>
                                </div>

                                <div class="header-col-name">
                                    <div class="user-text-name">{{contacts[active].name}}</div>
                                    <div class="last-access">Ultimo accesso oggi alle {{contacts[active].messages[active].date}}</div>
                                </div>

                                <div class="header-col-icons">
                                    <div class="inner-icons flex">
                                        <div class="icons">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <div class="icons">
                                            <i class="fas fa-paperclip"></i>
                                        </div>
                                        <div class="icons">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <!-- End App Header contact -->

                            <!-- App Main -->
                            <main class="main-chat">
                                <div class="inner-main-chat">
                                    <div class="chat-message" :class="message.status" v-for="message in contacts[active].messages">

                                        <div class="message-text">{{message.text}}</div>

                                        <div class="date">{{message.date}}</div>

                                    </div>
                                </div>
                            </main>
                            <!-- End App Main -->

                            <!-- App Footer -->
                            <footer class="user-text flex">
                                <div class="emoticon-icons">
                                    <div class="icons">
                                        <i class="far fa-smile"></i>
                                    </div>
                                </div>

                                <div class="text-chat">
                                    <div class="inner-text-chat flex">
                                        <input v-model="userMessage" @keyup.enter='chatMessage(active)' type="text" name="message" placeholder="Scrivi un messaggio">
                                    </div>
                                </div>

                                <div class="microphone-icons">
                                    <div class="icons">
                                        <i class="fas fa-microphone"></i>
                                    </div>
                                </div>
                            </footer>
                            <!-- End App Footer -->
                        </div>
                    </div>
                    <!-- END MAIN -->
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>